@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Caprasimo&family=Raleway:ital,wght@1,100&family=Ysabeau+Office:ital,wght@1,1&display=swap');

* {
    font-family: 'Agdasima', 'Courier New', Courier, monospace;
}
/* Navigation Bar */
nav {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    z-index: 10;
    position: fixed;
    font-size: 22px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FF0000B7;
}

li, a {
    text-decoration: none;
    color: black;
}


 /* Div Styling */
div {
    position: relative;
    top: 30px;
}

/* Table Styling */
tr, th, table {
    padding: 15px;
    font-style: italic;
    text-align: center;
}

#morningclass {
    text-align: center;
    background-color:#ffb3b3;
}

th {
    background-color: #cccccc;
    font-weight: bold;
}

#noclass {
    background-color: #f2f2f2;
}

#awrestle {
    background-color: #b3e0ff;
}

#kbjj {
    background-color: #ffcce6;
}

#amma {
    background-color: #ccffcc;
}

#kwrestle {
    background-color: #e6ccff;
}

#aboxing {
    background-color: #ffebcc;
}

#kboxing {
    background-color: #ffffcc;
}

tr, th, td {
    border:1px solid;;
}